{% load static %}

<html lang="zh-CN">

<head>
    
    <meta charset="UTF-8">
    <title>登录页面</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'sigin.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'fontawesome/css/fontawesome.min.css' %}">
    <script src="{% static 'jquery-3.7.1.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>

<body>
    <div class="container">
        <form class="form-signin" method="post" action="">
            {% csrf_token %}
            <h2 class="form-signin-heading">请登录</h2>
            <p></p>
            <p></p>
            <label for="username" class="sr-only">用户名</label>
            <input type="text" id="username" name="username" class="form-control" placeholder="用户" required autofocus>
            <p></p>
            <p></p>
            <label for="password" class="sr-only">密 码</label>
            <input type="password" id="password" name="password" class="form-control" placeholder="密码" required>
            <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
        </form>
    </div> <!-- /container -->
</body>

</html>